// Bourbon and Neat import
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

// Custom SASS imports
@import "partials/_base";
@import "partials/_mixins";
@import "partials/_typography";
@import "partials/_layout";
@import "modules/_refills";
@import "modules/_lightbox";
@import "modules/_getaquote";
@import "vendor/_jssor";
@import "vendor/_hamburger";

body {
	background: #F5F6F7 url(#{$img}global/bg_main.jpg) repeat-x;
}

// Global site links
a {
    color: $blue;
}

a:hover {
    background-color: $blue;
    color: $white;
    text-decoration: none;
    @include hover-links;
}

// Global site buttons
.btn-global {
    position: relative;
    display: inline-block;
    padding: 6px 18px 5px 12px;
    background-color: $dark-blue;
    font-size: 1.2rem;
    color: $white;
    text-decoration: none;

    @include border-top-radius(8px);
    @include border-right-radius(8px);
    @include border-bottom-radius(8px);
    @include border-left-radius(8px);

        &.btn-global:hover {
            background-color: $blue;
            @include hover-links;
        }

        &.btn-global:after {
            content: '';
            position: absolute;
            top: 8px;
            right: 9px;
            @include triangle(9px, white, right);
        }
}

// Header section
#header-main {
	position: relative;
	padding-top: 15px;

	#logo {
		float: left;

		a {
		    float: left;
		    width: 175px;
		    height: 55px;
		    background: url(#{$img}global/rohanchambers_logo.png) no-repeat 0 0;
	  		@include hide-text;
		}

		img {
			position: absolute;
		    top: -9999px;
		    left: -9999px;
		}
	}

	// Hide hamburger for desktop
	.c-hamburger {
		display: none;
	}

	#nav-main {
		float: right;

		ul {
			padding: 0;
			list-style-type: none;

			li {
				float: left;
				position: relative;
				display: block;
				width: 140px;
				min-height: 30px;
				margin-right: 5px;
				border-bottom: 1px solid $white;
				background: $dark-blue;

				a {
					display: block;
					width: 140px;
					height: auto;
					padding: 5px 0 5px 11px;
					text-decoration: none;
					color: $white;
					text-align: center;
					font-size: 16px;
					text-transform: uppercase;
					letter-spacing: 1px;

						span {
							display: block;
							text-transform: none;
							font-size: 14px;
						}
				}

				a:before {
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					width: 11px;
					height: 100%;
					background: $blue;
					border-right: 1px solid $white;
				}
			}
			
			.desktop-nav-mobile {
				display: none;
			}

			li:last-child {
				margin: 0;
			}

			li a:hover,
			li.active a {
				background: $blue;
			}

			li.desktop-nav-mini {
				display: none;
			}
		}
	}
}

// NAV MINI STYLES
#header-main.mini {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 50px;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.9);;
	box-shadow: 0 0 9px 2px rgba(0,0,0,0.15);
	-webkit-overflow-scrolling: touch;
	
		.c-hamburger {
			position: absolute;
		}

		#nav-main {
			position: relative;
			margin-right: 2%;

			ul {
				margin: 14px 0 0 0;

				li {
					min-height: auto;

					span {
						display: none;
					}
				}

				.desktop-nav {
					display: none;
				}

				.desktop-nav-mini,
				.desktop-nav.services {
					display: block;
				}
			}
		}

		#logo {
			margin: 5px 2%;
			z-index: 1000;
				a {
					height: 45px;
					background-size: 75%;
				}
		}
}

// Add margin to stop the flick going to nav mini
#work {
	header {
		h1:after {
	        left: 120px;
	        bottom: 40%;
		}
	}
}


// NAV MOBILE STYLES
#header-main.mobile {

	.c-hamburger {
		display: block;
	}

	#nav-main {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1000;
		
		ul {
			display: block;
			margin: 0;
		    -webkit-animation: fadeIn 0.5s;
		    animation: fadeIn 0.5s;

			li {
				display: block!important;
				width: 100%;

				a {
					width: auto;
					padding: 13px 0;

						span {
							display: none;
						}
				}
			}
		}
	}
}
// End of Header Main


// About section
#about {
	position: relative;
	margin-top: 30px;

	header {
		@include clearfix;

		h1 {
			float: left;
			width: 40%;
			font-size: 2.3rem;
		}

		h1:after {
			display: none;
		}

		.intro-scroll-arrow:before {
			font-family: FontAwesome; content: "\f13a";
		}

		.intro-scroll-arrow.scroll-up:before {
			font-family: FontAwesome; content: "\f139";
		}

		i {
			// float: right;
			position: absolute;
			bottom: -25px;
			left: 0;
			padding-left: 2px; 			
		}

		i:hover {
			color: $blue;
			cursor: pointer;
			@include hover-links();
		}
	}

	#intro {
		padding-left: 0;
	}

	#intro:hover {
		strong {
			color: $blue;
			@include hover-links();
		}
	}

	.intro-scroll-arrow.buttonPulse {
	    @keyframes buttonPulse {
			0% { opacity: 0;}
			50% { opacity: 0.8;}
			100% { opacity: 1;}
	    }

		animation: buttonPulse 1750ms;
		animation-iteration-count: infinite;
			-webkit-animation-iteration-count: infinite;
	}

	#cv {
		h2 {
			height: 35px;
			line-height: 35px;

			a {
				display: block;
				width: 100%;
				text-decoration: none;
			}

			a:hover {
				background: none;
				color: $blue;
			}
		}

		#icon-underhood {
			background: url(#{$img}icons/under_hood.png) no-repeat right center;
		}

		#icon-cv {
			background: url(#{$img}icons/pdf.png) no-repeat right center;
		}
	}
}


// What I do
#what-i-do {

	header {
		width: 100%;
		float: right;
		text-align: right;
		@include clearfix();

		h1 {
			padding-right: 20px;
		}

		h1:before {
			left: auto;
			right: 0;
		}

		h1:after {
	        right: 395px;
	        bottom: 25%;
		}
	}

	article {
		position: relative;
		min-height: 245px;
		background: $white url(#{$img}global/bg_panels.png) no-repeat bottom left;
		box-shadow: 2px 2px 8px #D2D2D2;

		a {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
		}

		a:hover {
			background: none;
		}

		a:hover + span {
			background: $blue;
			@include hover-links();
		}

		.btn-global {
			position: absolute;
			bottom: 15px;
		}
	}
}

// Section Services
#services {

	h1:after {
	    left: 140px;
	    bottom: 45%;
	}

	article {
		padding: 0;
	}

	ul {
		margin: 0;
	}

	article:nth-child(2) h2 {
		margin-top: 25px;
	}
}


// Section Skills
#skills {
	h1:after {
	    left: 110px;
	    bottom: 45%;
	}

 	article {
 		min-height: 245px;
		background: $white url(#{$img}global/bg_panels.png) no-repeat bottom left;
		box-shadow: 2px 2px 8px #D2D2D2;
		margin-bottom: 10px;

		&.col-4 {
			min-height: 290px;
		}
	}


}

// Section Clients
#clients {
	header {
		margin-bottom: 20px;
	}

	h1:after {
	    left: 120px;
	    bottom: 45%;
	}

	.row {
		.client {
			position:relative;
		    margin-right: 0;
		    border: 1px solid #FFF;

    		img {
				display: block;
				width: 100%;
				height: auto;
    		}

    		img.top,
    		img.bottom {
				position:absolute;
				top: 0;
				left: 0;
				-webkit-transition: opacity .5s ease-in-out;
					-moz-transition: opacity .5s ease-in-out;
						-o-transition: opacity .5s ease-in-out;
							transition: opacity .5s ease-in-out;
							-webkit-backface-visibility: hidden;
    		}

			img.top:hover {
				opacity: 0;
			}
		}
	}
}

#contact {
	min-height: 475px;
	background: url(#{$img}global/bg-chambers-post.png) no-repeat right 30px;
	margin-bottom: 0;

	h1:after {
	    left: 135px;
	    bottom: 45%;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			min-height: 25px;
			line-height: 25px;
			margin-bottom: 10px;
		}

		img {
			float: left;
			margin-right: 10px;
		}

		a {
			width: 100%;
			text-decoration: none;
		}

		a:hover {
			background: $blue;
			color: $white;
		}
	}
}

// Footer
footer {
	width: 100%;
	background: url(#{$img}global/bg_footer.jpg);
	color: $white;

	#copyright {
		padding: 30px 0;// 175px 0 20px 0;
		@include clearfix;

		div {
			float: left;
		}

		p {
			color: $white;
		    line-height: 1.3;
		    margin: 0;
		}

		img {
			float: left;
			margin-right: 10px;
			background-color: $white;
			padding: 2px;
		}

		#under-hood {
			float: right;
			background-color: transparent;
		}
	}
}

#case-study {
	margin: 50px auto;

	#controls {
		margin: 0;
		padding: 0;
		@include clearfix;

		li {
			display: inline-block;

				.go-back,
				.go-next,
				.go-all {
					display: block;
					float: left;
					text-decoration: none;
					color: $black;
					margin-right: 8px;
					font-size: 3.5rem;
				}

				.go-back:before {
				    font-family: FontAwesome;
				    content: "\f0a8";
				}

				.go-next:before {
				    font-family: FontAwesome;
				    content: "\f0a9";
				}

				.go-all:before {
				    font-family: FontAwesome;
				    content: "\f00a";
				    font-size: 3.2rem;
				}

				.go-back:hover,
				.go-next:hover,
				.go-all:hover {
					color: $blue;
					background-color: transparent;
				}
		}
	}

	#case-study-content {
		min-height: 400px;

		h1 {
			position: relative;
			font-size: 1.75em;
			margin-bottom: 0;
			padding-top: 15px;
			margin-top: 10px;

			&::before {
				position: absolute;
				top: 0;
				width: 100%;
				height: 5px;
				content: '';
				background: url(#{$img}global/hr-line.png) 0 0 no-repeat;
			}
		}

		h2 {
			margin-top: 0;
			color: $blue;
		}
	}

	#case-study-img {
		img {
			height: auto;
			width: 100%;
			margin-bottom: 25px;
		}
	}
}


#portfolio {

	// Filter buttons
	.filter-button-group {
		a {
			display: inline-block;
			font-size: 1.6rem;
			color: $black;
			margin: 0 5px 10px 0;
			text-decoration: none;
			padding: 3px 5px;
		}

		a:hover,
		a.active {
			color: $white;
			background-color: $blue;
		}
	}

	ul {
		padding: 0;

		.grid-item {
			list-style-type: none;
			width: 32.25%;
			margin-right: 1%;
			margin-bottom: 1%;

				h3 {
					margin-top: 5px;
					font-size: 1.4rem;
					font-weight: bold;

					span {
						font-weight: normal;
					}
				}

				img {
					width: 100%;
					min-height: auto;
					border: 5px solid $white;
					padding: 1px;				

						&:hover {
							border: 5px solid $blue;
							@include hover-links;
						}
				}				

				a {
					position: relative;
					color: $black;
					text-decoration: none;
				}

				a:hover {
					transition: none;
					background: transparent;
				}

				.view-more {
					display: block;
					z-index: 1;
					position: absolute;
					top: 0;
					left: 0;
					font-size: 3rem;
					width: 100%;
					height: 100%;
				}
		}		
	}

	ul:hover > li {
			opacity: 0.5;
			@include hover-links();
		}

	ul:hover > li:hover {
		opacity: 1.0;
	}	
}

// Back to top button
#back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    height: 33px;
    width: 40px;
    background: url(#{$img}global/iconArrowUpDark.png) center center no-repeat #FFF;
    border: none;
    outline: 0;
    opacity: .6;
    cursor: pointer;
}

	#back-to-top.buttonTopPulse {
	    @keyframes buttonTopPulse {
			0% { opacity: 0;}
			50% { opacity: 0.5;}
			90% { opacity: 1;}
			100% { opacity: 0.6;}
	    }

		animation: buttonTopPulse 200ms;
		animation-iteration-count: 5;
			-webkit-animation-iteration-count: 5;
	}

	#back-to-top:hover {
		opacity: 1;
		@include hover-links();
	}

@import "partials/_mobile";
















