html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

a {
  color: #0074c0; }

a:hover {
  background-color: #0074c0;
  color: #FFF;
  text-decoration: none; }

.btn-global {
  position: relative;
  display: inline-block;
  padding: 5px 18px 5px 12px;
  background-color: #171922;
  font-size: 1.2rem;
  color: #FFF;
  text-decoration: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px; }

.btn-global:after {
  content: '';
  position: absolute;
  top: 8px;
  right: 9px;
  height: 0;
  width: 0;
  border-bottom: 4.5px solid transparent;
  border-left: 4.5px solid white;
  border-top: 4.5px solid transparent; }

.btn-global:hover {
  background-color: #0074c0; }

ul.bullets {
  padding-left: 13px; }
  ul.bullets li {
    position: relative;
    margin-bottom: 8px;
    list-style-type: none; }
  ul.bullets li:before {
    content: '';
    position: absolute;
    left: -12px;
    top: 3px;
    height: 0;
    width: 0;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #0074c0;
    border-top: 5px solid transparent; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem; }

@font-face {
  font-family: 'futura_lt';
  src: url("../fonts/futura/futura_lt_condensed_bold.eot");
  src: url("../fonts/futura/futura_lt_condensed_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futura_lt_condensed_bold.woff") format("woff"), url("../fonts/futura/futura_lt_condensed_bold.svg#futura_lt") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rockwell';
  src: url("../fonts/rockwell/rockwell.eot");
  src: url("../fonts/rockwell/rockwell.eot?#iefix") format("embedded-opentype"), url("../fonts/rockwell/rockwell.woff") format("woff"), url("../fonts/rockwell/rockwell.svg#rockwell") format("svg");
  font-weight: normal;
  font-style: normal; }
h1,
h2,
nav[role="navigation"] {
  font-family: futura_lt, verdana, arial, sans-serif;
  text-transform: uppercase; }

article h1, article h2 {
  margin-top: 0;
  font-size: 1.8rem;
  color: #0074c0;
  text-transform: uppercase; }

p {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5em;
  margin-bottom: 8px; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.row {
  display: block;
  margin-bottom: 10px; }
  .row::after {
    clear: both;
    content: "";
    display: block; }

.col-1 {
  float: left;
  display: block;
  margin-right: 0.95602%;
  width: 100%; }
  .col-1:last-child {
    margin-right: 0; }

.col-2 {
  float: left;
  display: block;
  margin-right: 0.95602%;
  width: 49.52199%; }
  .col-2:last-child {
    margin-right: 0; }

.col-3 {
  float: left;
  display: block;
  margin-right: 0.95602%;
  width: 32.69598%; }
  .col-3:last-child {
    margin-right: 0; }

.col-4 {
  float: left;
  display: block;
  margin-right: 0.95602%;
  width: 24.28298%; }
  .col-4:last-child {
    margin-right: 0; }

.col-5 {
  float: left;
  display: block;
  margin-right: 0.95602%;
  width: 41.10899%; }
  .col-5:last-child {
    margin-right: 0; }

.col-5-1 {
  float: left;
  display: block;
  margin-right: 0.95602%;
  width: 28.48948%; }
  .col-5-1:last-child {
    margin-right: 0; }

article {
  padding: 15px; }

footer {
  width: 100%;
  min-height: 350px;
  background: url(../img/global/bg-footer.jpg); }

.accordion-tabs-minimal {
  line-height: 1.5;
  padding: 0; }
  .accordion-tabs-minimal::after {
    clear: both;
    content: "";
    display: block; }
  .accordion-tabs-minimal .tab-header-and-content {
    list-style: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs-minimal .tab-header-and-content {
        display: inline; } }
  .accordion-tabs-minimal .tab-link {
    background-color: #fff;
    border-top: 1px solid #dcdcdc;
    color: #333;
    display: block;
    padding: 0.75em 5px;
    text-decoration: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs-minimal .tab-link {
        border-top: 0;
        display: inline-block; } }
    .accordion-tabs-minimal .tab-link:hover {
      color: #477dca; }
    .accordion-tabs-minimal .tab-link:focus {
      outline: none; }
    .accordion-tabs-minimal .tab-link.is-active {
      border-bottom: 0; }
      @media screen and (min-width: 40em) {
        .accordion-tabs-minimal .tab-link.is-active {
          border: 1px solid #dcdcdc;
          border-bottom-color: #fff;
          margin-bottom: -1px; } }
  .accordion-tabs-minimal .tab-content {
    display: none;
    padding: 1.5em 5px;
    width: 100%; }
    @media screen and (min-width: 40em) {
      .accordion-tabs-minimal .tab-content {
        border-top: 1px solid #dcdcdc;
        float: left; } }

.jssora22l, .jssora22r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 58px;
  cursor: pointer;
  background: url(../img/global/a22.png) center center no-repeat;
  overflow: hidden; }

.jssora22l {
  background-position: -10px -31px; }

.jssora22r {
  background-position: -70px -31px; }

.jssora22l:hover {
  background-position: -130px -31px; }

.jssora22r:hover {
  background-position: -190px -31px; }

.jssora22l.jssora22ldn {
  background-position: -250px -31px; }

.jssora22r.jssora22rdn {
  background-position: -310px -31px; }

body {
  background: #F5F6F7 url(../img/global/bg-main.jpg) repeat-x; }

#header-main {
  padding-top: 15px; }
  #header-main #logo {
    float: left; }
    #header-main #logo a {
      float: left;
      width: 175px;
      height: 55px;
      background: url(../img/global/rohanchambers_logo.png) no-repeat 0 0;
      overflow: hidden;
      text-indent: 101%;
      white-space: nowrap; }
    #header-main #logo img {
      position: absolute;
      top: -9999px;
      left: -9999px; }
  #header-main nav[role="navigation"] {
    float: right; }
    #header-main nav[role="navigation"] ul {
      list-style-type: none; }
      #header-main nav[role="navigation"] ul li {
        float: left;
        position: relative;
        display: block;
        width: 140px;
        min-height: 44px;
        margin: 0 5px 0;
        box-sizing: border-box;
        background: #171922; }
        #header-main nav[role="navigation"] ul li a {
          display: inline-block;
          width: 140px;
          height: auto;
          padding: 4px 0;
          text-decoration: none;
          color: #FFF;
          text-align: center;
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 1px; }
          #header-main nav[role="navigation"] ul li a span {
            display: block;
            text-transform: none;
            font-size: 14px; }
        #header-main nav[role="navigation"] ul li a:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 11px;
          height: 100%;
          background: #0074c0;
          border-right: 1px solid #FFF; }
      #header-main nav[role="navigation"] ul li:hover {
        background: #0074c0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-border-radius: all 500ms ease;
        transition: all 500ms ease; }

@media screen and (max-width: 867px) {
  #intro,
  .col-4 {
    margin-bottom: 10px; }

  .col-3,
  .col-5 {
    float: left;
    display: block;
    margin-right: 0.95602%;
    width: 100%; }
    .col-3:last-child,
    .col-5:last-child {
      margin-right: 0; }

  .mob-2 {
    float: left;
    display: block;
    margin-right: 0.95602%;
    width: 49.52199%; }
    .mob-2:last-child {
      margin-right: 0; }

  .col-4 {
    float: left;
    display: block;
    margin-right: 0.95602%;
    width: 49.52199%; }
    .col-4:last-child {
      margin-right: 0; }

  #web-dev,
  #software {
    margin: 0; } }
@media screen and (max-width: 479px) {
  #skills,
  #what-i-do article {
    margin-bottom: 10px; }

  .col-2,
  .col-3,
  .col-4,
  .col-5-1 {
    float: left;
    display: block;
    margin-right: 0.95602%;
    width: 100%; }
    .col-2:last-child,
    .col-3:last-child,
    .col-4:last-child,
    .col-5-1:last-child {
      margin-right: 0; } }

/*# sourceMappingURL=styles.css.map */
