$black: #000;
$white: #FFF;
$dark-blue: #171922;
$blue: #0074c0;
$img : "../img/";
$gutter: 15px;

// Global site ordered lists
ul.bullets {
	padding-left: 13px;

	li {
		position: relative;
		margin-bottom: 8px;
		list-style-type: none;
		line-height: 1.5em;
	}

	li:before {
		content: '';
		position: absolute;
		left: -12px;
		top: 3px;
		@include triangle(10px, $blue, right);
	}
}