// Hover affects on various links and icons
@mixin hover-links() {
	-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
			-ms-border-radius: all 500ms ease;
				transition: all 500ms ease;
}

// Extends
.antialiased {
	-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
			-o-font-smoothing: antialiased;		
}

// -------------------------------------------------------------------
// Omega Reset for Bourbon Neat
//
// http://joshfry.me/notes/omega-reset-for-bourbon-neat
// -------------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}

// Fade in opacity of bg color
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}