// DESKTOP LARGE | Min 1024px
@include media($large-desktop) {
}

// DESKTOP | Max 1024px
@include media($desktop) {
}


// TABLET LARGER | Custom inline variable breakpoint
$tablet-915: new-breakpoint(max-width 915px);

@include media($tablet-915) {
	// Hamburger and nav styles
	nav[role="navigation"] ul {	
		display: none;
	}

	.c-hamburger {
		display: block;
	}
}

// TABLET | Max width 867px
@include media($tablet) {

	.container {
		padding: 0 3%;
	}

	#about article,
	#services article {
		padding: 0;
	}

	#intro,
	.col-4 {
		margin-bottom: 10px;
	}

	.col-3,
	.col-5 {
		@include span-columns(12);
	}

	.mob-2 {
		@include span-columns(6);
	}

	.col-4 {
		@include span-columns(6);
	}

	#web-dev,
	#software {
 		margin: 0;
	}

	#clients {
		.row {
			.client {
				@include span-columns(3);
				width: 33.3%;
				margin: 0;
			}
		}
	}

	#contact {
		background: none;
	}
}

// MOBILE | max width 479px
@include media($mobile) {
	#skills,
	#what-i-do article {
		margin-bottom: 10px;
	}

	.col-2,
	.col-3,
	.col-4,
	.col-5-1{
		@include span-columns(12);
	}

	#clients {
		.row {
			.client {
				@include span-columns(12);
			}
		}
	}
}

// MOBILE SMALL | max width 320px
@include media($small-mobile) {
}


