// DESKTOP LARGE | Min 1024px
@include media($large-desktop) {
}

// DESKTOP | Max 1024px
@include media($desktop) {
	.container {
		padding: 0 3%;
		@include transition(0.4s);
	}
}

// TABLET LARGER | Custom inline variable breakpoint
$tablet-979: new-breakpoint(max-width 979px);

@include media($tablet-979) {

	// Hamburger and nav styles
	#header-main {
		.c-hamburger {			
			display: block;
		}

		#nav-main ul {
			display: none;
		}
	}
}

// TABLET LARGER | Custom inline variable breakpoint
$tablet-980: new-breakpoint(min-width 980px);

@include media($tablet-980) {

	// Hamburger and nav styles
	#header-main {
		.c-hamburger {
			display: none;
		}

		#nav-main ul {
			display: block;
		}
	}
}



// TABLET | Max width 867px
@include media($tablet) {
	// Make carousel 100%
	.container.carousel {
		max-width: 100%;
		padding: 0;
	}

	#about article,
	#services article {
		padding: 0;
	}

	#about article,
	#what-i-do article,
	#skills article,
	#services article {
		margin-bottom: 10px;
	}

	.col-3,
	.col-5 {
		@include span-columns(12);
	}

	.mob-2 {
		@include span-columns(6);
	}

	.col-4 {
		@include span-columns(6);
		min-height: 190px;
	}

	#web-dev,
	#software {
 		margin: 0;
	}
	
	#what-i-do {
		article {
			min-height: 190px;
		}
	}
	
	#skills article.col-4 {
		min-height: 270px;
	}

	#clients {
		.row {
			.client {
				@include span-columns(3);
				width: 33.3%;
				margin: 0;
			}
		}
	}

	#contact {
		background: none;
	}

	#case-study {
		.col-8,
		.col-3 {
			@include span-columns(12);
			margin-bottom: 15px;
		}
	}

	#services {
		.col-2 {
			@include span-columns(12);
		}

		.accordion-tabs-minimal {
			margin-top: 50px;
		}
	}

	#services:first-child article {
		margin-bottom: 250px;;
	}

	// Porftfolio isotope css
	#portfolio,
	#get-quote-form {
		p {
			width: 100%;
		}

		ul {	
			.grid-item	{
				width: 49%;
			}
		}
	}

	#carousel div {	
		.captions {
			display: none;
		}
	}

	.c-hamburger:hover {
	  background-color: $dark-blue;
	}	
}

// Custom inline variable breakpoint
$width-650: new-breakpoint(max-width 650px);
@include media($width-650) {
	#get-quote-form {
	 form {
			label {
			width: 100%;
			}	
		}
	}
}

// TABLET LARGER | Custom inline variable breakpoint
$width-600: new-breakpoint(max-width 600px);
@include media($width-600) {
	#about {

		i {
			display: none;
		} 
	}

	#copyright {
		img, div {
			margin-bottom: 15px;
		}

		.lightbox-home {
			display: none;
		}
	}

	#services {
	  .tab-header-and-content {
			:after {
				position: absolute;
				right: 30px;
			}
		}
	}

}

// MOBILE | max width 479px
@include media($mobile) {

	// Mobile section margins
	#about,
	#what-i-do,
	#services,
	#skills,
	#clients,
	#contact {
		margin-bottom: 50px;
	}


	#about article,
	#what-i-do article,
	#skills article,
	#services article {
		margin-bottom: 25px;
	}

	.col-2,
	.col-3,
	.col-4,
	.col-5-1{
		@include span-columns(12);
	}

	// What I do
	#what-i-do {
		article {
			min-height: auto;

				.btn-global {
					position: relative;
					bottom: auto;
				}
		}

		header {
			width: 100%;
			float: left;
			text-align: left;
			@include clearfix();

			h1 {
				padding-right: 20px;
			}

			h1:before {
				left: 0;
				right: auto;
			}
		}
	}

	// Skills
	#skills {
		article.col-2,
		article.col-4 {
			min-height: 0;
		}
	}


	// Clients
	#clients {
		.row {
			.client {
				@include span-columns(6);
				width: 50%;
				margin: 0;
			}
		}
	}

	#copyright {
		div {
			font-size: 1.3rem;
		}
	}

	// Porftfolio isotope css
	#portfolio {
		ul {	
			.grid-item	{
				width: 100%;
			}
		}
	}

	.lightbox-panel {
		width: 100%;
	}

	#copyright #under-hood {
		display: none;
	}

	#contact {
		min-height: 0;
	}

}

// MOBILE SMALL | max width 320px
@include media($small-mobile) {
}