html {
    font-size: 62.5%;
}

$site-font: sans-serif, verdana, arial;
$site-font-size: 1.4rem; // 1rem = 10px
$site-font-color: #333;

body {
    font-size: $site-font-size;
}

@font-face {
    font-family: 'futura_lt';
    src: url('../fonts/futura/futura_lt_condensed_bold.eot');
    src: url('../fonts/futura/futura_lt_condensed_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura_lt_condensed_bold.woff') format('woff'),
         url('../fonts/futura/futura_lt_condensed_bold.svg#futura_lt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rockwell';
    src: url('../fonts/rockwell/rockwell.eot');
    src: url('../fonts/rockwell/rockwell.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rockwell/rockwell.woff') format('woff'),
         url('../fonts/rockwell/rockwell.svg#rockwell') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
nav[role="navigation"],
.filter-button-group a,
.view-more,
.captions h3 {
    font-family: futura_lt, verdana, arial, sans-serif;
    text-transform: uppercase;
}

article {
    h1, h2 {
        margin-top: 0;
        font-size: 1.8rem;
        color: $blue;
        text-transform: uppercase;
    }

    p:first-child {
        margin-top: 0;
    }
}

header h1 {
    margin-top: 0;
}

p {
	font-family: sans-serif;
    color: $site-font-color;
    line-height: 1.5em;
    margin-bottom: 8px;
}

section header h1 {
    position: relative;
    padding-left: 20px;
    color: $dark-blue;
    font-size: 2.5rem;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 12px;
        background-color: $blue;
        content: '';
    }

    &:after {
        content: "";
        width: 30%;
        position: absolute;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #fff;        
    }    
}

#portfolio,
#site-map,
#get-quote-form,
#accessibility,
#js-projects {
    margin-top: 50px;

    h1:after {
        display: none;
    }

    p {
        width: 60%;
    }    
}