@font-face {
    font-family: 'arial_blackregular';
    src: url('../fonts/arial_black-webfont.eot');
    src: url('../fonts/arial_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial_black-webfont.woff2') format('woff2'),
         url('../fonts/arial_black-webfont.woff') format('woff'),
         url('../fonts/arial_black-webfont.svg#arial_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

p {
	font-family: $text-font;
	font-size: $text-size;
    line-height: 1.5em; 
    color: $white;
    margin-bottom: 8px;    
}